@import "../node_modules/normalize.css/normalize.css";
@import "./assets/scss/custom.scss";

// COMMENT: outline everything for debugging
* {
     outline: 1px solid rgba(0, 140, 255, 0.384);
}

html,
body {
     font-synthesis: none;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     line-height: 1.5;
     font-weight: 400;
     font-size: 16px;
     margin: 5% 5%;
     // padding: 1%; // for debugging
}

body {
     height: 90vh;
}
