.projectTitle {
     // FIXME: doesn't work as intended for smaller screens
     // display: inline-flex;
     // justify-content: center;
     // position: absolute;
     // display: flex;
     // border: 2px solid #000;
     // border-radius: 50px 50px 0px 0px;
     // color: #b6c7ff;
     // background: rgba(0, 0, 0, 0.89);
     // padding-top: 5px;
     // transform: translateX(0%) translateY(-515%);
     // font-size: 1em;
     // font-weight: bold;
     // width: 100%;
     // text-align: center;
}

.imgContainer img {
     width: 300px;
     height: auto;
     aspect-ratio: 16 / 9;
}
