// COMMENT: css for the theme button and margin for the sub-text

.margin-left-heading {
     margin-left: 9rem; // Adjust this value as needed
}

.themeButton {
     border: 2px solid currentColor;
     border-radius: 10px;
     max-height: 32px;
     cursor: pointer;
}

#themeSwitch {
     cursor: pointer;
}

.lightModeHighlight {
     background: radial-gradient(circle, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 255, 0) 60%);
}
.darkModeHighlight {
     background: radial-gradient(circle, rgb(143, 53, 245) 0%, rgba(255, 255, 255, 0) 60%);
}

// COMMENT: keeps the `||` from getting smaller when the text size is reduced for media screens
.important {
     font-size: 16px;
}
