@import "../node_modules/normalize.css/normalize.css";
@import "./assets/scss/custom.scss";

// COMMENT: outline everything for debugging
* {
     outline: 1px dashed rgba(0, 140, 255, 0.212);
}

body {
     font-synthesis: none;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     // line-height: 1.5;
     // font-weight: 400;
     // font-size: 16px;
     height: 90vh;
     margin: 5%;
}

main {
     padding: 0% 10% 0% 10%;
}

.text-underline {
     text-decoration: underline;
}
@media screen and (max-width: 500px) {
     * {
          font-size: 0.805rem;
     }

     main {
          padding: 0% 0% 0% 0%;
     }
}
