$enable-gradients: true;
$enable-shadows: true;

$primary: #8194d3;
$btn-primary-color: #ebebf0;

$nav-pills-link-active-bg: #8194d3;
$nav-pills-link-active-color: #ebebf0;
$nav-pills-border-radius: 1rem;

// Import Bootstrap's SCSS
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@include color-mode(light) {
     --bs-body-color: #435382;
     // Define more variables as needed
}

@include color-mode(dark) {
     --bs-body-color: #ebebf0;
     --bs-body-bg: #1a1b26;
     // Define more variables as needed
}
