$enable-gradients: true;
$enable-shadows: true;
$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

$primary: #516dc9;
$body-bg: #ebebf0;

$nav-pills-link-active-bg: #516dc9;
$nav-pills-border-radius: 2rem;

// Import Bootstrap's SCSS
@import "../node_modules/bootstrap/scss/bootstrap";

@include color-mode(light) {
     --bs-body-color: #435382;
     // Define more variables as needed
}

@include color-mode(dark) {
     --bs-body-color: #ebebf0;
     --bs-body-bg: #1a1b26;
     // Define more variables as needed
}
