$enable-gradients: true;
$enable-shadows: true;
$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

$primary: #609ccd;
$body-bg: #EBEBF0;
// Import Bootstrap's SCSS
@import "../node_modules/bootstrap/scss/bootstrap";

// $color-mode-type: data-bs-theme;

// @mixin color-mode($mode) {
//      [data-bs-theme="#{$mode}"] {
//           @content;
//      }
// }

@include color-mode(light) {
     --bs-body-color: #435382;
     // Define more variables as needed
}

@include color-mode(dark) {
     --bs-body-color: #EBEBF0;
     --bs-body-bg: #1A1B26;
     // Define more variables as needed
}
